@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chewy&display=swap');

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "lucky";
  src: url(./assets/fonts/LuckyDino.otf);
}